<h1>Help Desk</h1>

<p>Create a Ticket</p>

<form data-scope="ticket">
  <label for="ticket_title">Title</label>
  <input data-prop="title" type="text">
  <br>
  <br>
  <label for="ticket_description">Description</label>
  <textarea data-prop="description"></textarea>
  <br>
  <br>
  <input data-prop="status" type="hidden">
  <input type="submit" value="Create Ticket">
</form>

<h2>Active Tickets</h2>
<ul>
  <li data-scope="active-ticket">
    <h4>
      <span data-prop="title">An active ticket</span>
      (<span data-prop="status">Active Status</span>)
    </h4>
    <p data-prop="description">
      There is some problem that I need solved. Please solve it...
    </p>
  </li>
</ul>

<h2>Closed Tickets</h2>
<ul>
  <li data-scope="closed-ticket">
    <h4 data-prop="title">A closed ticket</h4>
  </li>
</ul>
