<h1>Help Desk</h1>

<p>Create a Ticket</p>

<form data-scope="ticket" data-ui="mutable">
  <label for="ticket_title">Title</label>
  <input data-prop="title" type="text">
  <br>
  <br>
  <label for="ticket_description">Description</label>
  <textarea data-prop="description"></textarea>
  <br>
  <br>
  <input data-prop="status" type="hidden">
  <input type="submit" value="Create Ticket">
</form>

<h2>Active Tickets</h2>
<ul>
  <li data-scope="active-ticket">
    <h4>
      <span data-prop="title">Active ticket</span>
      (<small data-prop="status">No status</small>)
      <small>
        <form data-prop="open-link" data-ui="mutable" class="inline-form">
          <input type="submit" value="open">
        </form>
        <form data-prop="close-link" data-ui="mutable" class="inline-form">
          <input type="submit" value="close">
        </form>
      </small>
    </h4>
    <p data-prop="description">
      No description given...
    </p>
  </li>
</ul>

<h2>Closed Tickets</h2>
<ul>
  <li data-scope="closed-ticket">
    <h4>
      <span data-prop="title">Closed ticket</span>
      <form data-prop="delete-link" data-ui="mutable" class="inline-form">
        <input type="submit" value="delete">
      </form>
    </h4>
  </li>
</ul>
